body {
    font-family: Arial;
    margin: 20px;
  }
  
  label, select {
    display: block;
    margin-top: 10px;
  }
  
  fieldset {
    margin-top: 15px;
  }
  
  #result {
    color: green;
    margin-top: 20px;
    font-size: 24px;
  }
  